.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 95vw;
  height: 100%;
}

.table {
  position: relative;
}

.footer {
  margin-top: 2rem;
}
