@import "~normalize.css";

html {
  background: rgb(2, 149, 151);
  background: radial-gradient(
    circle,
    rgba(2, 149, 151, 1) 0%,
    rgba(7, 110, 95, 1) 100%
  );
  height: 100%;
}

body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
